/* -------------------- IMPORTED FONTS -------------------- */
@import url(https://fonts.google.com/share?selection.family=Bebas%20Neue%7CMontserrat:ital,wght@0,400;0,700;1,400);

/* -------------------- ROOT VARIABLES ------------------- 
    Save all changes*/
    /*Text Headings Bebas Neue
    Text Content Montserrat
    /* text and background colors*/
:root{
    font-family: "Bebas Neue", system-ui;
    /*font-weight: 400;
    h1 - 40px
    h2 - 30px
    h3 - 25px
    nav a 20px
    nav span 20px
    menu li 20px
    #social li 20px
    footer 20px*/
    
    font-family: "Montserrat", system-ui;
    /*font-weight: 400;
    <p> 16px
    dd 16px
    li 16px
    nav 16px
    input 16px
    Montserrat Bold 700 DT 16px*/
    --black: #0D0D0D;
    --white: #F2F2F2;
    --aqua: #7ABFBF;
    --blue: rgba(122, 191, 191, .5);
    --red: #EB5428;
}

/* ----------- GLOBAL STYLES (mobil first/small  --------------- */
/*---------------- Small-min-width: 414px -----------------------*/

nav {
    min-width: 414px;
    width: fit-content;
    display: grid;
    grid-template-columns: auto;
}

body{
    display: grid;
    min-width: 414px;
    background-color: var(--blue);
}
main{
    background-color: #F2F2F2;
}

header{
    background-color: #F2F2F2;
    text-align: center;
}

nav h2 {
    visibility: hidden;
    height: 1px;
    width: 1px;
}

/*------------- MEDIA QUERY (medium) ----------------*/

@media screen and (min-width: 768px) {
    body {
        display: grid;
    }
}

@media screen and (min-width: 1280px) {
    body {
        display: grid;
    }
}
    

footer{
    background-color: #F2F2F2;
    color:#0D0D0D;
    text-align: center;
    padding: 0;
}

footer p {
    font-family: "Montserrat", system-ui;
    color:#0D0D0D;
    text-align: center;
    padding: 0; 
}

footer > a{
    font-family: "Bebas Neue", system-ui;
    color:#0D0D0D;
    text-align: center;
}


   


