/* -------------------- IMPORTED FONTS -------------------- */
@import url(https://fonts.google.com/share?selection.family=Bebas%20Neue%7CMontserrat:ital,wght@0,400;0,700;1,400);

/*-------------------- CSS REST ---------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;   
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------- ROOT VARIABLES ------------------- 
Save all changes*/
/*Text Headings Bebas Neue
Text Content Montserrat
/* text and background colors*/

:root{
    font-family: "Bebas Regular", system-ui;
    /*font-weight: 400;
    h1 - 40px
    h2 - 30px
    h3 - 25px
    nav a 20px
    nav span 20px
    menu li 20px
    #social li 20px
    footer 20px*/

    font-family: "Montserrat", system-ui;
    /*font-weight: 400;
    <p> 16px
    dd 16px
    nav 16px
    input 16px
    Montserrat Bold 700 DT 16px*/
    --black: #0D0D0D;
    --white: #F2F2F2;
    --aqua: #7ABFBF;
    --blue: rgba(122, 191, 191, .5);
    --red: #EB5428;
}

/* ----------- GLOBAL STYLES (mobil first/small  --------------- */
/*---------------- Small-min-width: 414px -----------------------*/

body{
    display: grid;
    min-width: 414px;
    margin: auto;
    background-color: rgba(122, 191, 191, .5);
}

main{
    background-color: #7ABFBF;
    margin:auto;
    padding: 25px;
}

header{
    background-color: #F2F2F2;
    display: grid;    
    text-align: center;
    padding: 10px;
}

h1{
    font-family: "Bebas Regular", system-ui;
    line-height:2em;
    font-size: 40px;
    font-weight: bold;
    padding-left:10px;
}

h2{
    font-size: 30px;
    text-align: left;
}

h2 ul {
    font-family: "Bebas Regular", system-ui;
    text-align: left;
    font-weight: bold;
}

h3{
    font-size: 25px;
    text-align: center;
    padding: 5px;
}

h1, h2, h3 {
    font-family: "Bebas Regular", system-ui;
    text-align: center;
    font-weight: bold;
}

nav {
    min-width: 414px;
    font-family: "Bebas Regular", system-ui; 
    text-align: center;
    color: #EB5428;
    font-weight: bold;
    font-size: 16px;  
}

nav a {
    font-family: "Bebas Regular", system-ui;
    font-size: 20px;
    font-weight: bold;
}

nav h2 {
    visibility:hidden;
    height: 1px;
    width: 1px;
}

nav span {
    font-family: "Bebas Regular", system-ui;
    font-size: 20px;
}

nav ul {
    font-family: "Montserrat Regular", system-ui;
    color: #EB5428;
    font-size: 16px;
    padding: 10px;   
}

menu li {
    font-family: "Bebas Regular", system-ui;
    font-size: 20px;
}

li {
    font-family: "Montserrat Regular", system-ui;
    font-size: 20px;
}

#social li {
    font-family: "Bebas Regular", system-ui;
    font-size: 16px;
    color: #EB5428;
}

section {
    font-family: "Bebas Regular", system-ui;
    font-size: 16px;
}

p {
    font-family: "Montserrat Regular", system-ui;
    font-size: 16px;  
}

input {
    font-family: "Montserrat Regular", system-ui;
    font-size: 16px;  
}

/*------------- MEDIA QUERY ----------------*/

@media screen and (min-width: 768px) {
    body {
        display: grid;
    }
}

@media screen and (min-width: 1280px) {
    body {
        display: grid;
    }
}

footer{
    font-family: "Bebas Regular", system-ui;
    font-size: 25px;
    font-weight: bold;
    background-color: #F2F2F2;
    color: #0D0D0D;
    text-align: center;
    padding: 20px;
}

footer p {
    font-family: "Montserrat Regular", system-ui;
    font-size: 16px;
    color: #0D0D0D;
    text-align: center;
    padding: 15px;
}

footer > a{
    font-family: "Bebas Regular", system-ui;
    color: #0D0D0D;
    text-align: center;
    }



